header ul.flex{
gap: 16px;
}
header.flex{
justify-content: space-between;
padding: 0 5rem;
margin-top: 1.2rem;
}
header.flex nav{
    background-color: var(--bgcolor);
    border-radius: 55px;
    padding: 0.77rem 1.6rem;
    box-shadow: 2px 2px 12px rgba(62, 59, 59, 0.976) ;
}
header ul li a{
color: var(--title);
opacity: 0.9;
font-size: .88rem;
}
header ul li a:hover{
color: rgb(44, 212, 189);
opacity: 1;
font-size: .91rem;
box-shadow: 1px 10px 10px  rgba(44, 212, 190, 0.159);
}
header button{
font-size: 1.2rem;
    
}


header button.menu{
    display: none;
}

/* header buttons */

header button.flex{
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--bgcolor);
    border: solid 1px rgba(211, 159, 154, 0.164);
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: var(--subtitle);
}
header button.flex:hover{
    transition: .2s;

    border: solid 1px rgba(211, 180, 178, 0.386);
    color: var(--title);
    
}

/* modal : popup */
header .fixed{
    position: fixed;
    inset: 0px;
    background-color: rgba(26, 26, 27, 0.877);
    z-index: 20px;
    backdrop-filter: blur(5px);
}

@keyframes animy {
    0% {scale:0;}
    70% {scale:1.2}
    100% {scale:1;}
}

header .fixed ul.modal{
    animation: animy 1s 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}


header .fixed ul.modal li{
    text-align: center;
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 1rem;
    margin: 15px 0 ;
  border-bottom: 1px solid var(--liner);
}
header .fixed ul.modal li:hover{
    color: rgb(44, 212, 189);
    opacity: 1;
    font-size: .91rem;
    box-shadow: 1px 10px 10px  rgba(44, 212, 190, 0.159);
    
}
header .fixed ul.modal div{
    text-align: right;
    padding: 5px 5px;
    margin-bottom: 2rem;
}
header button.icon-x-circle:hover{
    color: rgb(236, 40, 40);
    rotate: 180deg;
    transition: .5s;
    font-size: 1.5rem;
}
/* header .fixed ul.modal div:hover{

} */






@media (max-width:700px) {
    header.flex nav{
        display: none;
    }
    header button.menu{
        display: block;
    }
    
}